@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root{
    --blue: rgb(5, 5, 40);
    --light-blue: #baddff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#050212;
}

section{
    padding:2rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    background:var(--blue);
    color:#fff;
   
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    color: var(--blue);
    background: var(--light-blue);
}

.heading{
    text-align: center;
    color:#ffffff;
    font-size: 4rem;
    padding-bottom: 65px;
    margin-top: 30px;
}

.heading span{
    color:var(--blue);
    background:var(--light-blue);
    border-radius: .5rem;
    padding:.2rem 1.5rem;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background:#08031c;
    padding:1.5rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:#ffffff;
    letter-spacing: 10px;
}


header .navbar a{
    color:#ffe8e8;
    font-size: 16px;
    margin: 8px;


}

.navbar a:hover {
    border-bottom: 2px solid #fffc4b;
    width: 1px;
  }


header .icons #menu-bars,
header .icons a{
    height:4.5rem;
    line-height: 4.5rem;
    width:5rem;
    font-size: 15px;
    margin-right: .5rem;
    border-radius: .5rem;
    color:#fff;
    text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover{
    color:var(--blue);
    color:#fffc4b;
}

header .icons #menu-bars{
    display: none;
}

.home{
    min-height: 100vh;
    background:url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home form{
    margin-top: 7rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    border:.1rem solid rgba(0,0,0,.2);
    width:70rem;
    padding:2rem;
}

.home form h3{
    text-align: center;
    color: var(--blue);
    font-size: 3rem;
}

.home form .buttons-container{
    display: flex;
    gap:1.5rem;
}

.home form .buttons-container .btn{
    flex:1;
}

.home form .inputBox{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top: 2rem;
}

.home form .inputBox input,
.home form .inputBox select{
    flex:1 1 25rem;
    border:.1rem solid #333;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size: 1.5rem;
    padding:1rem;
    text-transform: none;
}

.home form .btn{
    width: 100%;
    margin-top: 2rem;
}



.container{
    width: 80%;
    font-size: 14px;
    margin: 50px auto;
}

.contact-box{
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}

.contact-right{
    flex-basis: 60%;
    padding: 30px;
}


/* ABOUT US */

.about-us .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;

}

.about-us .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.2);
    text-align: center;
    padding:2rem;
}

.about-us .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
    text-transform: none;
    text-align: center;
}

.about-us .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:.5rem 0;
    line-height: 2;
    text-align: center;
    text-transform: none;
}

.about-us .container{
    width: 100%;

    margin: 50px auto;
}

.about-us h3{
    color: var(--light-blue);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}


.about-us p{
    padding-top: 20px;
    color: #fdfcff;
    font-size: 15px;
    text-transform: none ;
}

/* INQUIRE*/

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: transparent;
    color: #f7f7f7;
}


.form-group small {
    display: block;
    margin-top: 5px;
    color: #ffffff;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    color: #f7f7f7;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #ffffff;
    font-size: 15px;
}

button{
    background: var(--light-blue);
    width: 120px;
    font-size: 17px;
    outline: none;
    border: none;
    color: #050212;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}


button[type="submit"]:hover {
    background-color: #ffffff;
}

.contact-left h3{
    color: #ffffff;
    margin-top: -30px;
    font-size: 30px;
}

.contact-left p{
    margin-bottom: 30px;
    color: #fff;
    font-size: 13px;
}

.contact-right h3{
    color: var(--light-blue);
    font-size: 28px;
}

.contact-right h1{
    color: var(--light-blue);
    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
    letter-spacing: 0;
}

.contact-right h4{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.contact-right p{
    padding-top: 20px;
    color: #fdfcff;
    font-size: 15px;
    text-transform: none ;
}

/* CONTACT */



.contact-info{
    flex-basis: 45%;
    margin-top: 30px;
}

.contact-info h2 {
    font-size: 23px; /* Larger font size */
    color: #add5ff; /* Darker text color */
    margin-bottom: 20px; /* Increased bottom margin */
    font-weight: 400;
  }

  .contact-info h4 {
    font-size: 15px; /* Larger font size */
    color: #ffffff; /* Darker text color */
    margin-bottom: 15px; /* Increased bottom margin */
  }

  .contact-info, .phone-numbers {
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Increased padding */
    margin-bottom: 20px; /* Increased bottom margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }


  .contact-info p, .phone-numbers p {
    font-size: 16px; /* Larger font size for paragraphs */
    margin: 10px 0; /* Adjusted margins */
    color: #c9c9c9; /* Dark gray text color */
  }
  .contact-info a, .social-links a {
    color: #add5ff; /* Blue link color */
    text-decoration: none;
  }
  .contact-info a:hover, .social-links a:hover {
    color: #f7cd4f;
  }

  .map {
    position: relative;
    padding-bottom: 75%; /* Aspect ratio 4:3 */
    height: 0;
    overflow: hidden;
  }

  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 50%;
    margin-top: 60px;
  }
  
  .map h4 {
    font-size: 30px; /* Larger font size */
    color: #ffffff; /* Darker text color */
    margin-bottom: 15px; /* Increased bottom margin */
  }

  .credit{
    padding:.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color:#696868;
    border-top: .1rem solid rgba(255, 240, 240, 0.1);
    width: 85%;
    margin-top: -200px;
    margin-left: 150px;
    min-height: 30px;
}
/* END */

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.2);
    text-align: center;
    padding:2rem;
}

.services .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
    text-transform: none;
}

.services .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:.5rem 0;
    line-height: 2;
    text-transform: none;
}

.featured .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.featured .box-container .box{
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    flex:1 1 30rem;
}

.featured .box-container .box .image-container{
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.featured .box-container .box .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.featured .box-container .box:hover .image-container img{
    transform: scale(1.1);
}

.featured .box-container .box .image-container .info{
    position: absolute;
    top:1rem; left:0;
    display: flex;
}

.featured .box-container .box .image-container .info h3{
    font-weight: 500;
    font-size: 1.4rem;
    color:#fff;
    background:rgba(0,0,0,.3);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    margin-left: 1rem;
}

.featured .box-container .box .image-container .icons{
    position: absolute;
    bottom:1rem; right:0;
    display: flex;
}

.featured .box-container .box .image-container .icons a{
    font-size: 1.4rem;
    color:#fff;
    display: flex;
    border-radius: .5rem;
    background: rgba(0,0,0,.3);
    margin-right: 1rem;
    padding:.7rem;
}

.featured .box-container .box .image-container .icons a h3{
    font-weight: 500;
    padding-left: .5rem;
}

.featured .box-container .box .image-container .icons a:hover{
    background:var(--red);
}

.featured .box-container .box .content{
    padding:1.5rem;
}

.featured .box-container .box .content .price{
    display: flex;
    align-items: center;
}

.featured .box-container .box .content .price h3{
    color:var(--blue);
    font-size: 2rem;
    margin-right: auto;
}

.featured .box-container .box .content .price a{
    color:#666;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background:#f7f7f7;
}

.featured .box-container .box .content .price a:hover{
    background:var(--blue);
    color:#fff;
}

.featured .box-container .box .content .location{
    padding:1rem 0;
}

.featured .box-container .box .content .location h3{
    font-size: 2.5rem;
    color:#333;
}

.featured .box-container .box .content .location p{
    font-size: 1.5rem;
    color:#666;
    line-height: 1.5;
    padding-top: .5rem;
}

.featured .box-container .box .content .details{
    padding:.5rem 0;
    display: flex;
}

.featured .box-container .box .content .details h3{
    flex:1;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    color:#999;
    font-size: 13px;
}

.featured .box-container .box .content .details h4{
    flex:1;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    color:#999;
    font-size: 14px;
}

.featured .box-container .box .content .details h3 i{
    color:#333;
    padding-left: .5rem;
}

.featured .box-container .box .content .details h4 i{
    color:#333;
    padding-left: .5rem;
}

.featured .box-container .box .content .buttons{
    display: flex;
    gap:1rem;
}

.featured .box-container .box .content .buttons .btn{
    flex:1;
    font-size: 1.5rem;
}

/* AGENTS */ 

.agents p{
    color: white;
    font-size: 15px;
    text-align: center;
}

.agents .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: center;
}

.agents .box-container .box{
    background:#fff;
    text-align: center;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
    position: relative;
    width:26rem;
}

.agents .box-container .box .fa-envelope{
    position: absolute;
    top:1.8rem; left:2rem;
    color:#333;
    font-size: 2rem;
}

.agents .box-container .box .fa-envelope:hover{
    color:var(--blue);
}

.agents .box-container .box .fa-phone{
    position: absolute;
    top:1.8rem; right:2rem;
    color:#333;
    font-size: 2rem;
}

.agents .box-container .box .fa-phone:hover{
    color:var(--blue);
}

.agents .box-container .box img{
    border-radius: 50%;
    box-shadow: 0 0 0 .5rem rgba(0,0,0,.1);
    object-fit: cover;
    height:10rem;
    width:10rem;
    margin:1rem 0;
}

.agents .box-container .box h3{
    font-size: 2rem;
    color:#333;
}

.agents .box-container .box span{
    font-size: 1.7rem;
    color:var(--blue);
}

.agents .box-container .box .share{
    padding-top: 2rem;
}

.agents .box-container .box .share a{
    margin:0 .3rem;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    background:#f7f7f7;
    color:#666;
    border-radius: .5rem;
    font-size: 2rem;
}

.agents .box-container .box .share a:hover{
    background:var(--blue);
    color:#fff;
}



.contact .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    background: #fff;
    padding:2rem;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
}

.contact .icons-container .icons img{
    height:6rem;
}

.contact .icons-container .icons h3{
    font-size: 2.5rem;
    color:#333;
    padding:1rem 0;
}

.contact .icons-container .icons p{
    font-size: 1.5rem;
    color:#666;
    padding:.2rem 0;
}

.contact .row{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap-reverse;
    padding:1rem;
}

.contact .row form{
    flex:1 1 50rem;
    padding:.5rem 1rem;
}

.contact .row .map{
    flex:1 1 30rem;
    width:100%;
    padding:1rem;
}

.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form textarea,
.contact .row form .inputBox input{
    margin-top: 1rem;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    background: #f7f7f7;
    border-radius: .5rem;
    text-transform: none;
    width:49%;
}

.contact .row form textarea{
    width:100%;
    height:20rem;
    resize: none;
}

.contact .row form textarea:focus,
.contact .row form .inputBox input:focus{
    background-color: var(--light-blue);
}

/* FOOTER */

.footer .footer-container{

    padding:2rem;
    margin-top: 200px;
}
 
.footer .footer-container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .footer-container .box-container .box{
    flex:1 1 25rem;
}

.footer .footer-container .box-container .box h3{
    font-size: 2.5rem;
    color:#ffffff;
    padding:.5rem 0;
}

.footer .footer-container .box-container .box h4{
    font-weight: bolder;
    font-size: 2rem;
    color:#ffffff;
    margin-top: 12px;
    letter-spacing: 10px;
}


.footer .footer-container .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:#424040;
    padding:.5rem 0;
}

.footer .footer-container .box-container .box h1{
    display: block;
    font-size:15px;
    color:#424040;
    padding:.5rem 0;
    font-weight: 300;
    margin-top: 12px;
}

.footer .footer-container .box-container .box h1:hover{
    color:var(--light-blue);
    text-decoration: none;
}

.footer .footer-container .box-container .box a:hover{
    color:var(--light-blue);
    text-decoration: underline;
}

.footer .footer-container .credit{
    margin-top: 2rem;
    padding:.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color:#696868;
    width: 75%;
    border-top: .1rem solid rgba(255, 253, 253, 0.1);
}


.footer .footer-container {
    margin-bottom: 8rem;
    align-items: center;
    text-align: center;
}


/* REQUEST */

.request p{
    color: white;
    font-size: 15px;
    text-align: center;
    text-transform: none;
}

.request h2{
    color: white;
    font-size: 27px;
    margin-top: 50px;
}

.request a{
    color: white;
    font-size: 20px;
    text-align: right;
    margin-top: 50px;
}

.request h1{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}


.request .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: center;
}

.request .box-container .box{
    background:#fff;
    text-align: center;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
    position: relative;
    width:40rem;
    height: 40vh;
}

.request .box-container .box .fa-envelope{
    position: absolute;
    top:1.8rem; left:2rem;
    color:#333;
    font-size: 2rem;
}

.request .box-container .box .fa-envelope:hover{
    color:var(--blue);
}

.request .box-container .box .fa-phone{
    position: absolute;
    top:1.8rem; right:2rem;
    color:#333;
    font-size: 2rem;
}

.request .box-container .box .fa-phone:hover{
    color:var(--blue);
}

.request .box-container .box img{
    border-radius: 50%;
    box-shadow: 0 0 0 .5rem rgba(0,0,0,.1);
    object-fit: cover;
    height:10rem;
    width:10rem;
    margin:1rem 0;
}

.request .box-container .box h3{
    font-size: 2rem;
    color:#333;
    height: 0;
}

.request .box-container .box span{
    font-size: 1.7rem;
    color:var(--blue);
}

.request .box-container .box .share{
    padding-top: 2rem;
}

.request .box-container .box .share a{
    margin:0 .3rem;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    background:#f7f7f7;
    color:#666;
    border-radius: .5rem;
    font-size: 2rem;
}

.request .box-container .box .share a:hover{
    background:var(--blue);
    color:#fff;
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size:55%;
    }

    header{
        padding:1.5rem 1rem;
    }

    section{
        padding:1.5rem;
    }

}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        left:0; right:0; top:100%;
        
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: .2s ;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        
        padding:1.5rem;
        margin:1.5rem;
        background:#070217;
        border:.1rem solid #333;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }

}

@media (max-width:450px){

    html{
        font-size:50%;
    }

    .contact .row form .inputBox input{
        width: 100%;
    }


}

.contact-box {
    display: flex;
    flex-direction: column;
}

.contact-left,
.contact-right {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .contact-box {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contact-left,
    .contact-right {
        width: 48%;
    }
}